@font-face {
  font-family: 'museomoderno';
  src: url('tipografia/MuseoModerno/MuseoModerno-Medium.woff2') format('woff'),
       url('tipografia/MuseoModerno/MuseoModerno-VariableFont_wght.ttf') format('truetype');
}

#home {
  background-color: linear-gradient(135deg, #4c5760, #93a8ac);
  color: #66635b;
  padding: 50px;
}

body {
  background-color: #4c5760;
  color: #a59e8c;
  margin: 0;
  padding: 0;
  font-family: 'museomoderno';
  font: 'museomoderno';
}

header {
  position: fixed;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  max-width: 100vw;
  position: relative;
  font-family: 'museomoderno';
  font: 'museomoderno';
  background-color: #4c5760;
  color: #fff;
}

header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.logo {
  position: absolute;
  top: 50%;
  left: 20px;
  display: flex;
  align-items: center;
  transform: translateY(-50%);
}

.logo h1 {
  margin: 0;
  line-height: 1;
  color: #93a8ac;
}


.logo img {
  width: 60px;
  height: auto;
}

nav {
  display: flex;
  text-align: center;
}

nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  justify-content: right;
}

nav ul li {
  display: inline-block;
  margin-left: 20px;
  border-radius: 10px;
  background: linear-gradient(to bottom, #93a8ac, #b5bbaf);
  border-color: #fff;
  justify-content: center;
}

nav ul li a {
  display: block;
  padding: 10px 20px;
  border-radius: 10px;
  color: #fff;
  text-decoration: none;
  transition: background 0.3s ease;
  z-index: 1; 
}

nav ul li a:hover {
  background: linear-gradient(to bottom, #1372b8, #4c9efc);
}

.logo, nav {
  flex: 1;
}

.logo {
  justify-content: flex-start;
}

nav {
  justify-content: flex-end;
}

/* Carousel styles */
#carousel .carousel-inner {
  height: 100%; 
}

#carousel .item img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

/* Soluciones section styles */
#soluciones {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-betweem;
  width: 100%;
  background: linear-gradient(135deg, #4c5760, #93a8ac);
  font-family: 'museomoderno';
  font: 'museomoderno';
}

#soluciones .circles-container {
  width: calc(25% - 20px);
  margin: 10px;
  text-align: center;
  box-sizing: border-box;
}

#soluciones .circle {
  display: inline-block;
  border-radius: 50%;
  background-color: transparent;
  padding: 20px;
  margin-bottom: 20px;
  text-align: center;
}

#soluciones .circle img {
  width: 100px; 
}

#soluciones .circle h3 {
  margin-top: 10px;
  font-size: 16px;
  color: #fff;
}

#contacto {
  display: flex; 
  width: 100%;
  justify-content: space-between;
  background: linear-gradient(135deg, #4c5760, #93a8ac);
  font-family: 'museomoderno';
  font: 'museomoderno';
  color: #fff;
}

.contacto-container {
  display: flex;
  width: 100%;
}

.formulario,
.informacion-contacto {
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
}


.formulario {
  flex: 1; 
  padding: 20px;
  box-sizing: border-box;
}

.informacion-contacto {
  flex: 1;
  padding: 20px;
  box-sizing: border-box;
}

#contact-form {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;
}
.form-group {
  flex: 1;
  margin: 10px;
  box-sizing: border-box;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}

.form-group input,
.form-group select,
.form-group textarea {
  width: 100%;
  padding: 10px;
  margin: 0;
  border: 1px solid #93a8ac;
  border-radius: 5px;
  box-sizing: border-box;
}

.form-group textarea {
  resize: vertical;
}

button,
a {
  background-color: #93a8ac;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover,
a:hover {
  background-color: #beb69f;
}


button[type="submit"] {
  margin-top: 10px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

@media (max-width: 768px) {
  .contacto-container {
    flex-direction: column;
  }
  .form-group {
    flex: 100%;
  }
}

footer {
  background-color: #66635b;
  padding: 20px 0;
  color: #fff;
  font-family: 'museomoderno';
}

.footer-container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.column-center ul {
  list-style: none;
  padding: 0;
}

.column-left ul {
  list-style: none;
  padding: 0;
}

.column-right ul {
  list-style: none;
  padding: 0;
  text-align: right;
}

.column-left,
.column-right,
.column-center {
  flex: 1;
}

.column-left ul,
.column-right ul {
  padding: 0;
}

.column-left ul li,
.column-right ul li {
  margin-bottom: 10px;
}

.column-left ul li a,
.column-right ul li a {
  color: #fff;
  text-decoration: none;
}

.column-center {
  text-align: center;
}

.social-links {
  display: flex;
  justify-content: flex-end; /* Justify the social links to the right */
}

.social-links li {
  margin-right: 10px;
}

/* Add styles for social media icons if needed */
.social-links a {
  color: #fff;
  font-size: 24px;
  text-decoration: none;
}

